{namespace robin.soy.Menu}

/**
 */
{template .menu}
{literal}
<div ng-controller="MenuCtrl">
    <a href="/home">Home</a><br />
    <a href="/addgame">File a new game</a><br />
    <a ng-click="toggleUserList()">User List</a>
    <div ng-show="showUsers" style="margin-left: 15px;">
        <div ng-repeat="user in users"><a href="/users/{{user}}">{{user}}</a></div>
    </div>
    <a ng-click="logout()">Log out</a>
</div>
{/literal}
{/template}
