{namespace robin.soy.Ranking}

/**
 */
{template .list}
{literal}
<div ng-controller="RankingCtrl">
    <h4>Rankings:</h4>
    <ol>
        <li ng-repeat="item in rankingList">
            <span>{{item}}</span>
        </li>
    </ol>
</div>
{/literal}
{/template}
