{namespace robin.soy.Ranking}

/**
 */
{template .list}
<div ng-controller="{{robin.controllers.RankingCtrl.NAME}}">
    <h4>Rankings:</h4>
    <ol>
        <li ng-repeat="item in rankingList">
            <span>{lb}{lb}item{rb}{rb}</span>
        </li>
    </ol>
</div>
{/template}
